:root {
    --color-primary: #FF5301;
    --color-secondary: #272D4E;
    --color-third: #0295B6;
    --color-four: #818386;
    --color-five: #ffffff;
    --color-six: #F5F9FF;
    --color-seven: #E5E5E5;
    --color-eight: #FDFAF9;
    --color-nine: #5F6A77;
    --color-ten: #002229;
}

body {
    font-family: 'Mulish', sans-serif;
    
}
/* color class start */
.color-primary{
    color: var(--color-primary);
}
.color-secondary{
    color: var(--color-secondary);
}
.color-three{
    color: var(--color-third);
}
.color-four{
    color: var(--color-four);
}
.color-five{
    color: var(--color-five);
}
.color-six{
    color: var(--color-six);
}
.color-seven{
    color: var(--color-seven);
}
.color-eight{
    color: var(--color-eight);
}
.color-nine{
    color: var(--color-nine);
}
.color-ten{
    color: var(--color-ten);
}
.bg-primary{
    background-color: var(--color-primary);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-three{
    background-color: var(--color-third);
}
.bg-four{
    background-color: var(--color-four);
}
.bg-five{
    background-color: var(--color-five);
}
.bg-six{
    background-color: var(--color-six);
}
.bg-seven{
    background-color: var(--color-seven);
}
.bg-eight{
    background-color: var(--color-eight);
}
.bg-nine{
    background-color: var(--color-nine);
}
.bg-ten{
    background-color: var(--color-ten);
}
/* color class end */

/* nav part start */
.mani-nav{
    position: relative;
}
.w-90{
    width: 90%;
}
.my-menu a{
    
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    color: var(--color-secondary) ;
    transition: .2s all ease;
    
    
    
    
}


.acc-btn{
    border: 1px solid var(--color-third);
    color: var(--color-primary);
    font-size: 17px;
    line-height: 25px;
}
.acc-btn:hover{
    color: var(--color-five);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
/* nav part end */

/*mega_menu part start*/
.mega_menu{
	
    
	padding: 25px;
	box-sizing: border-box;
	top: 100%;
	position: absolute ;
	background-color: var(--color-five);
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	display: flex;
	box-sizing: border-box;
	display: none;
	justify-content: space-between;
    border-radius: 20px;
}
.mega_menu li a h5{
    font-size: min(1.2vw,1.3rem);
    text-transform: capitalize;
    font-weight: 800;
    color: #363636;
    margin-bottom: 10px;
    line-height: 26px;
}

.mega_menu_1{
    width: 100%;
    right: 0;
}
.mega_menu_1 li{

    width: 19.5%;
}
.mega_menu_2{
    width: 50%;
    right: 40%;
}
.mega_menu_2 li{

    width: 49.5%;
}
.mega_menu_3{
    width: 50%;
    right: 30%;
}
.mega_menu_3 li{

    width: 49.5%;
}
.mega_menu_4{
    width: 90%;
    right: 5%;
}
.mega_menu_4 li{

    width: 24.5%;
}

.mega_menu_5{
    width: 50%;
    right: 8%;
}
.mega_menu_5 li{

    width: 50%;
}

.mega_menu_6{
    width: 75%;
    right: 5%;
}
.mega_menu_6 li{

    width: 34.5%;
}

.drop_down{
    padding: 20px;
    margin: 0 5px;
    padding-bottom: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drop_down:hover{
    background-color: var(--color-five);
}
.drop_down:hover .mega_menu{
	display: flex;
}
.drop_down:hover.drop_down>a{
	color: var(--color-primary) !important;
}
.mega_menu li{
    padding: 0 !important;
    margin: 0 !important;
    
	display: inline-block;
	box-sizing: border-box;
	list-style-type: none;
	margin: 5px;
}
.mega_menu li a{
	padding: min(1.5vw,3rem);
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 15px;

}
.mega_menu li a:hover{
	background-color: #f7f2fc !important;
}
.mega_menu li a img{
	width: 55px;
}
.mega_menu li a h5{
	margin: 10px 0px;
}

.mega_menu li a p{
	font-size: 16px;
    color: #807d7d;
	line-height: 22px;

}

/*mega_menu part end*/

/*mobile menu start*/

.hc-nav-original.hc-nav-1{
    display: block !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
}


.hc-nav-original.hc-nav-1 .first-nav{
    display: none !important;
    
}



.hc-nav-trigger.hc-nav-1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    left: 92%;
}
.mobile_logo_2{
    margin-top: 15px;
}
.hc-offcanvas-nav.nav-position-right .nav-next span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(135deg);
    color: var(--color-secondary);
    border-top: 2px solid var(--color-secondary);
    border-left: 2px solid var(--color-secondary);
}
.hc-offcanvas-nav.nav-position-right .nav-back span::before {
    margin-left: -2px;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-top: 2px solid var(--color-secondary);
    border-left: 2px solid var(--color-secondary);
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul{
    background-color: var(--color-six);
}
.hc-offcanvas-nav .nav-item-link, .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav .nav-back a{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    color: var(--color-secondary) !important;
    transition: .4s all ease;
}
.hc-offcanvas-nav .nav-content>h2{
    font-family: 'Mulish', sans-serif;
    color: var(--color-secondary);
}
.hc-offcanvas-nav .nav-content>.nav-close:first-child a, .hc-offcanvas-nav .nav-title+.nav-close a.has-label, .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav .nav-back a {
    background: var(--color-secondary);
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
}
.hc-offcanvas-nav:not(.touch-device) li:not(.nav-item-custom) a:not([disabled]):hover{
    background-color: var(--color-six);
}
.hc-offcanvas-nav .nav-content>.nav-close:first-child a:hover, .hc-offcanvas-nav .nav-title+.nav-close a.has-label:hover, .hc-offcanvas-nav li.nav-close a:hover, .hc-offcanvas-nav .nav-back a:hover{
    background-color: var(--color-six);
}
.hc-offcanvas-nav .nav-back a {
    background: var(--color-six);
    border-top: 0;
    border-bottom: 1px solid var(--color-secondary);
}
.hc-offcanvas-nav .nav-content>.nav-close:first-child a:hover{
    background-color: var(--color-secondary);
}
.hc-offcanvas-nav .nav-wrapper>.nav-content>ul:first-of-type>li:first-child:not(.nav-back):not(.nav-close)>.nav-item-wrapper>.nav-item-link {
    border-top: 0;
}
.hc-offcanvas-nav .nav-item-link, .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav .nav-back a{
    border-bottom: 1px dotted var(--color-third);
}

.hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after{
    border-radius: 5px;
    right: 0;
}
.hc-nav-trigger span::before{
    right: 0 !important;
    width: 80%;
}
.hc-nav-trigger span::after{
    width: 50%;
}
.nav-close-button span{
    display: none;
}
.nav-close-button::before{
    content: '\f00d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
}
.hc-offcanvas-nav .nav-item-link{
    padding: 26px;
}
.hc-offcanvas-nav.hc-nav-1 .nav-container{
    width: 80% !important;
}
.mobile_main_item{
    text-transform: uppercase;
    font-weight: 700 !important;
}
.level-title{
    text-transform: uppercase;
    font-weight: 800 !important;
}
.hc-nav-trigger.hc-nav-1 {
    
    top: 50%;
    transform: translateY(-50%);
}
.mobile-header{
    position: relative;
    display: none;
}
/* mobile menu part end */